<?xml version="1.0" encoding="UTF-8"?>

<infocenter_data version="1.0">
  <iar_name>__REPLACE_EXAMPLE_NAME__ example </iar_name>               <!--App-->
  <iar_description>
  </iar_description>  <!--App short description-->
  <iar_curdir>$CUR_DIR$</iar_curdir>
</infocenter_data>
